@page "/Saidas"

<h3>Saidas de produto</h3>

@if (saidas == null)
{
    <h5>Carregando</h5>
}
else
{
    <div class="table-responsive">
        <QuickGrid Items="saidas.AsQueryable()" Pagination="paginacao" class="table table-striped">
            <PropertyColumn Property="@(p => p.dataSaida.ToString("dd/MM/yyyy"))" Title="Data de entrada" />
            <PropertyColumn Align="Align.Center" Property="@(p => p.produto)" Title="Produto" />
            <PropertyColumn Align="Align.Center" Property="@(p => p.quantidade)" Title="Quantidade" />
        </QuickGrid>
        <Paginator State="paginacao" />
    </div>
}

@code {

    [Parameter]
    public IEnumerable<ProdutoSaidaDTO> saidas { get; set; } = new List<ProdutoSaidaDTO>();

    PaginationState paginacao = new PaginationState { ItemsPerPage = 10 };

}
