@page "/GridEntradas"

<h3>Entradas de produto</h3>

@if (entradas == null)
{
    <h5>Carregando</h5>
}
else
{
    <div class="table-responsive">
        <QuickGrid Items="entradas.AsQueryable()" Pagination="paginacao" class="table table-striped">
            <PropertyColumn Property="@(p => p.dataEntrada.ToString("dd/MM/yyyy"))" Title="Data de entrada" />
            <PropertyColumn Align="Align.Center" Property="@(p => p.produto)" Title="Produto" />
            <PropertyColumn Align="Align.Center" Property="@(p => p.quantidade)" Title="Quantidade" />
        </QuickGrid>
        <Paginator State="paginacao" />
    </div>
}

@code {

    [Parameter]
    public IEnumerable<ProdutoEntradaDTO> entradas { get; set; } = new List<ProdutoEntradaDTO>();

    PaginationState paginacao = new PaginationState { ItemsPerPage = 10 };

}

