@page "/Saidas"
@using Estoque.Infraestructure.Http.Interfaces

@if (saidas == null)
{
    <h5>Carregando</h5>
}
else
{
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <GridSaidas saidas="@saidas" />
            </div>

            <div class="d-flex justify-content-end col-12 m-1 p-0">
                <button class="btn btn-primary col-12 col-md-1 my-1 mx-3">
                    Nova saida
                </button>
            </div>

        </div>
    </div>
}


@code {

    private IEnumerable<ProdutoSaidaDTO> saidas { get; set; } = new List<ProdutoSaidaDTO>();

    protected override async Task OnInitializedAsync()
    {
        await Requisicao();
    }

    private async Task Requisicao()
    {
        saidas = await listarProdutoSaidasDTO.ExecutarListagem();
    }
}


