@page "/GridPerfil"

<h3>Perfis de usuário</h3>

@if (perfil == null)
{
    <h5>Carregando</h5>
}
else
{
    <div class="table-responsive">
        <QuickGrid Items="perfil.AsQueryable()" Pagination="paginacao" class="table table-striped">
            <PropertyColumn Property="@(p => p.nome)" Title="Nome" />
        </QuickGrid>
        <Paginator State="paginacao" />
    </div>
}


@code {

    [Parameter]
    public IEnumerable<PerfilDTO> perfil { get; set; } = new List<PerfilDTO>();

    PaginationState paginacao = new PaginationState { ItemsPerPage = 4 };

}
