@page "/Categoria/Cadastrar"
@using Estoque.Application.Repository.Abstraction
@using Estoque.Infraestructure.Http.Interfaces



<FormCategoria />


<div class="@($"toast align-items-center text-bg-primary border-0 fade {valor}")" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">

        </div>
    </div>
</div>


@code {

    public string valor { get; set; } = "hide";

}
