@page "/formCategoria"

<h3>Cadastrar Categoria</h3>

<EditForm>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="nomeCategoria"
               placeholder="insira o nome da categoria" @bind-value="@nome">
        <label for="nomeCategoria">Nome da categoria</label>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="@(async () => await cadastrar.InvokeAsync() )">
            Cadastrar
        </button>
    </div>
</EditForm>


@code {

    [Parameter]
    public EventCallback cadastrar { get; set; }

    private string nome { get; set; } = string.Empty;

}
