@page "/Estoque"

@if (produtos == null)
{
    <h5>Carregando</h5>
}
else
{
    <ListarProdutos produtos="@produtos" />
}

@code {
    private IEnumerable<ProdutoDTO> produtos { get; set; } = new List<ProdutoDTO>();

    protected override async Task OnInitializedAsync()
    {
        await Requisicao();
    }

    private async Task Requisicao()
    {
        produtos = await HttpRepositoryDTO.Listar();
    }
}


